
<div class="p-3">    
    <h1 class="text-center"> Carrito por ID</h1> 
    {{#if loguedUser}}
        <div class=" d-flex flex-wrap border border-success rounded p-4 m-4 justify-content-around">
            <h5 class="w-100">USUARIO LOGUEADO</h5>
            <p class="pe-5 w-25">Nombre: {{user.first_name}}</p>
            <p class="pe-5 w-25">Apellido: {{user.last_name}}</p> 
            <p class="pe-5 w-25">Email: {{user.email}}</p>
            <p class="pe-5 w-25">Edad: {{user.age}}</p>       
            <p class="pe-5 w-50">Rol de usuario : {{user.role}}</p>    
            <p class="pe-5 w-50">ID carrito: {{user.cart}}</p>                
            <div class="container  w-50 d-flex">
                <button class="btn btn-outline-primary w-50 me-2" onclick="goToUserProfile()">Ver perfil</button>
                <form id="formLogOut" class="w-50">
                    <button type="submit" class="btn btn-outline-danger w-100">Cerrar sesion</button>
                </form>
            </div>
        </div>
    {{/if}}

    {{#if hayResultados}}
    
    <table class="table table-dark table-striped text-center" id="{{cart._id}}">
    <thead>
        <tr>
            <th scope="col">Productos en carrito {{cart._id}}</th>
        </tr>
    </thead>
    <tbody>
        {{#each cart.products}}
            <tr  id="{{this.product._id}}"> 
            <td>
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID Producto</th>
                            <th scope="col">Nombre</th>
                            <th scope="col" class="w-25">Descripcion</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio Un</th>
                            <th scope="col" >Acciones de Producto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>{{this.product._id}}</td>
                        <td>{{this.product.title}}</td>
                        <td>{{this.product.description}}</td>
                        <td>{{this.quantity}}</td>
                        <td>{{this.product.price}}</td>
                        <td class="w-50">
                            <label for="quantity">Cant:</label>
                            <input type="number" id="quantity{{this.product._id}}" name="quantity" min="1" value="{{this.quantity}}" >
                            <button onClick=elegirUnidadesDesdeCartById("{{this.product._id}}") type="button" class="btn btn-success">
                                Elegir Cantidad
                            </button>
                            <button onClick=eliminarProductosDesdeCartById("{{this.product._id}}") type="button" class="btn btn-danger">
                                Eliminar producto
                            </button>
                        </td>
                    </tbody>


                </table>

            </td>
            </tr>
        {{/each}}
                    <td>
                <button  onClick=vaciarCarrito("{{this._id}}") type="button" class="btn btn-warning w-25 m-1">
                    Vaciar el carrito
                </button>
                <button onClick=eliminarCarrito("{{this._id}}") type="button" class="btn btn-danger w-25 m-1">
                    Eliminar el carrito
                </button>
            </td>
    </tbody>
    </table>

    {{else}}
        <h1 > Parece que no hay carritos todavia</h1>
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/carts.js"></script>
<script src="/js/userLogin.js"> </script>
<script src="/js/formLogOut.js"></script>

