
<div class="p-3 w-100">    {{#if loguedUser}}
        <div class=" d-flex flex-wrap border border-success rounded p-4 m-4 justify-content-around">
            <h5 class="w-100">USUARIO LOGUEADO</h5>
            <p class="pe-5 w-25">Nombre: {{user.first_name}}</p>
            <p class="pe-5 w-25">Apellido: {{user.last_name}}</p> 
            <p class="pe-5 w-25">Email: {{user.email}}</p>
            <p class="pe-5 w-25">Edad: {{user.age}}</p>       
            <p class="pe-5 w-50">Rol de usuario : {{user.role}}</p>
            <p class="pe-5 w-50">ID carrito: {{user.cart}}</p>        
            <div class="container  w-50 d-flex">
                <button class="btn btn-outline-primary w-50 me-2" onclick="goToUserProfile()">Ver perfil</button>
                <form id="formLogOut" class="w-50">
                    <button type="submit" class="btn btn-outline-danger w-100">Cerrar sesion</button>
                </form>
            </div>
        </div>
    {{/if}}
    
    <h1 class="text-center"> Carritos</h1> 
    <button class="btn btn-primary m-3" onclick="createNewCart()">Crear nuevo carrito</button>
    {{#if hayResultados}}
    <table class="table table-dark table-striped text-center">
    <thead>
        <tr>
        <th scope="col">ID Carrito</th>
        <th scope="col">Productos</th>
        <th scope="col">Acciones Carrito</th>
        </tr>
    </thead>
    <tbody >
        {{#each payload}}
            <tr  id="{{this._id}}">    
            <td >{{this._id}}</td>
            <td>
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID Producto</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio </th>
                            <th scope="col">Acciones de Producto</th>
                        </tr>
                    </thead>
                    {{#each this.products}}
                        <tbody id="{{this.product._id}}">
                            <td>{{this.product._id}}</td>
                            <td>{{this.product.title}}</td>
                            <td>{{this.product.description}}</td>
                            <td>{{this.quantity}}</td>
                            <td>{{this.product.price}}</td>
                            <td class="w-50">
                                <label for="quantity">Cant:</label>
                                <input type="number" id="quantity{{this.product._id}}" name="quantity" min="1" class="w-25" value="{{this.quantity}}">
                                <button onClick=elegirUnidades("{{this.product._id}}") type="button" class="btn btn-success">
                                    Elegir Cantidad
                                </button>
                                <button onClick=eliminarProducto("{{this.product._id}}") type="button" class="btn btn-danger">
                                    Eliminar producto
                                </button>
                            </td>
                        </tbody>
                    {{/each}}
                </table>

            </td>
            <td>
                <button  onClick=vaciarCarrito("{{this._id}}") type="button" class="btn btn-warning w-75 m-1">
                    Vaciar
                </button>
                <button onClick=eliminarCarrito("{{this._id}}") type="button" class="btn btn-danger w-75 m-1">
                    Eliminar
                </button>
            </td>
            </tr>
        {{/each}}
    </tbody>
    </table>

    <div class="botoneraPaginado">
        {{#if hasPrevPage}}
            <a href="/api/views/carts?limit={{limit}}&page={{prevPage}}" type="button" class="btn btn-outline-primary">
                Pagina previa
            </a>
            {{else}}
            <a type="button" class="btn btn-outline-secondary">
                Pagina previa
            </a>
            {{/if}}
            <div>
                <p>{{limit}} productos por pagina, pagina actual: {{page}} , total de paginas: {{totalPages}}</p>
            </div>
            {{#if hasNextPage}}
            <a href="/api/views/carts?limit={{limit}}&page={{nextPage}}" type="button" class="btn btn-outline-primary">
                Pagina Siguiente
            </a>
            {{else}}
            <a type="button" class="btn btn-outline-secondary">
                Pagina Siguiente
            </a>
            {{/if}}
        </div>
        {{else}}
        <h1 > Parece que no hay carritos todavia</h1>
        {{/if}}
    <div id="cartsRealTime">  
        
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/carts.js"></script>
<script src="/js/userLogin.js"> </script>
<script src="/js/formLogOut.js"></script>

