{{#if loguedUser}}
<div class=" d-flex flex-wrap border border-success rounded p-4 m-4 justify-content-around rounded">
    <h5 class="w-100">USUARIO LOGUEADO</h5>
    <p class="pe-5 w-25">Nombre: {{user.first_name}}</p>
    <p class="pe-5 w-25">Apellido: {{user.last_name}}</p> 
    <p class="pe-5 w-25">Email: {{user.email}}</p>
    <p class="pe-5 w-25">Edad: {{user.age}}</p>       
    <p class="pe-5 w-50">Rol de usuario : {{user.role}}</p>
    <p class="pe-5 w-50">ID carrito: <span id="cidUser">{{user.cart}}</span> </p>   
    <form id="formLogOut" class=" w-50">
        <button type="submit" class="btn btn-outline-danger w-100">Cerrar sesion</button>
    </form>
</div>
    {{#if products}}
        <table class="table table-dark table-striped text-center" id="{{user.cart}}">
        <button class="btn btn-outline-success  mt-4" onClick=goToProducts()> ¿Queres ver mas productos? </button> 
        <thead>
            <tr>
                <th scope="col">Productos en carrito</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr  id="{{this.product._id}}"> 
                <td>
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID Producto</th>
                                <th scope="col">Nombre</th>
                                <th scope="col" class="w-25">Descripcion</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio Un</th>
                                <th scope="col" >Acciones de Producto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td>{{this.product._id}}</td>
                            <td>{{this.product.title}}</td>
                            <td>{{this.product.description}}</td>
                            <td>{{this.quantity}}</td>
                            <td>{{this.product.price}}</td>
                            <td class="w-50">
                                <label for="quantity">Cant:</label>
                                <input type="number" id="quantity{{this.product._id}}" name="quantity" min="1" value="{{this.quantity}}" >
                                <button onClick=elegirUnidadesDesdeCartById("{{this.product._id}}") type="button" class="btn btn-success">
                                    Elegir Cantidad
                                </button>
                                <button onClick=eliminarProductosDesdeCartById("{{this.product._id}}") type="button" class="btn btn-danger">
                                    Eliminar producto
                                </button>
                            </td>
                        </tbody>
                    </table>
                </td>
                </tr>
            {{/each}}
                <td>
                    <button  onClick=vaciarCarritoUsuario() type="button" class="btn btn-warning w-25 m-1">
                        Vaciar el carrito
                    </button>
                </td>
        </tbody>
        </table>
    {{else}} 
        <div class="m-5 p-5 border border-dark">
            <h3 class="w-100 text-center ">El usuario todavia no agrego nada al carrito..</h3>
            <button class="btn btn-outline-success  mt-4" onClick=goToProducts()> ¿Quieres ver productos? </button> 
        </div>        
    {{/if}}

{{else}}
 <div class="m-5 p-5 border border-dark">
    <h3 class="w-100 text-center ">Todavia no hay usuario logueado</h3>
 </div>

<h5 class="text-center mt-5">¿Queres loguearte?</h5>
<form id="formUserLogin" action="" class="p-4 m-4 border border-success rounded d-flex flex-wrap justify-content-around">
    <label for="input_email"class="w-50 mt-2">Email</label>
    <input id="input_email" type="text" placeholder="input_email"class="w-50 mt-2">

    <label for="input_password"class="w-50 mt-2">Contraseña</label>
    <input id="input_password" type="password" placeholder="input_password"class="w-50 mt-2">
    <button type="submit" class="btn btn-success mt-4">¡ Iniciar sesion! </button>
</form>
 <div>
    <button class="btn btn-outline-success  mt-4" onClick=goToRegister()>¡ Quiero registrarme! </button> 
    <a href="/api/users/session/github">
        <button  class="btn btn-outline-dark  mt-4">¡ Ingresar con GITHUB! </button>
    </a>    
 </div>
{{/if}}



<script src="/js/carts.js"></script>
<script src="/js/userLogin.js"> </script>
<script src="/js/formLogOut.js"></script>