<h1 class=" p-3">Form para agregar nuevos productos </h1>
    {{#if loguedUser}}
        <div class=" d-flex flex-wrap border border-success rounded p-4 m-4 justify-content-around">
            <h5 class="w-100">USUARIO LOGUEADO</h5>
            <p class="pe-5 w-25">Nombre: {{user.first_name}}</p>
            <p class="pe-5 w-25">Apellido: {{user.last_name}}</p> 
            <p class="pe-5 w-25">Email: {{user.email}}</p>
            <p class="pe-5 w-25">Edad: {{user.age}}</p>       
            <p class="pe-5 w-50">Rol de usuario : {{user.role}}</p>    
            <div class="container  w-50 d-flex">
                <button class="btn btn-outline-primary w-50 me-2" onclick="goToUserProfile()">Ver perfil</button>
                <form id="formLogOut" class="w-50">
                    <button type="submit" class="btn btn-outline-danger w-100">Cerrar sesion</button>
                </form>
            </div>
        </div>
    {{/if}}
<div class=" p-3 text-end">
    <form class="d-flex flex-wrap" id="formCargaProducto" action="/api/products" method="post">
        <div class="mb-3 d-flex w-50">
            <label for="title" class="form-label p-1 w-25">Nombre</label>
            <input type="text" class="form-control 1 w-75" id="title" name="title" aria-describedby="title">
        </div>
        <div class="mb-3 d-flex  w-50">
            <label for="code" class="form-label p-1 w-25">Codigo</label>
            <input type="text" class="form-control w-75" id="code" name="code" aria-describedby="code">
        </div>
        <div class="mb-3 d-flex w-100">
            <label for="description" class="form-label p-1 w-10">Descripcion</label>
            <input type="text" class="form-control w-90" id="description" name="description"  aria-describedby="description">
        </div>

        <div class="mb-3 d-flex w-25">
            <label for="price" class="form-label p-1 w-10">Precio</label>
            <input type="number" class="form-control " id="price" name="price"  aria-describedby="price">
        </div>
        <div class="mb-3 d-flex w-50">
            <label for="category" class="form-label p-1 w-15">Categoria</label>
            <input type="text" class="form-control " id="category" name="category"  aria-describedby="category">
        </div> 
        <div class="mb-3 d-flex w-25">
            <label for="stock" class="form-label p-1 w-10">Stock</label>
            <input type="number" class="form-control " id="stock" name="stock" aria-describedby="stock">
        </div>
        <div class="mb-3 d-flex w-100">
            <label for="thumbnails" class="form-label p-1 ">Thumbnails</label>
            <input type="text" class="form-control" id="thumbnails" name="thumbnails" aria-describedby="thumbnails">
        </div>     
        <button type="submit" class="btn btn-primary w-50 mt-3">Enviar</button>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>
<script src="/js/userLogin.js"> </script>
<script src="/js/formLogOut.js"></script>