
<h3 class=" m-5 text-center">Hola, esta es una pagina para redireccionar a cada endpoint de manera mas facil</h3>

{{#if loguedUser}}
<div class=" d-flex flex-wrap border border-success rounded p-4 m-4 justify-content-around">
    <h5 class="w-100">USUARIO LOGUEADO</h5>
    <p class="pe-5 w-25">Nombre: {{user.first_name}}</p>
    <p class="pe-5 w-25">Apellido: {{user.last_name}}</p> 
    <p class="pe-5 w-25">Email: {{user.email}}</p>
    <p class="pe-5 w-25">Edad: {{user.age}}</p>       
    <p class="pe-5 w-50">Rol de usuario : {{user.role}}</p>
    <p class="pe-5 w-50">ID carrito: {{user.cart}}</p>        
        <div class="container  w-50 d-flex">
            <button class="btn btn-outline-primary w-50 me-2" onclick="goToUserProfile()">Ver perfil</button>
            <form id="formLogOut" class="w-50">
                <button type="submit" class="btn btn-outline-danger w-100">Cerrar sesion</button>
            </form>
        </div>
</div>
{{else}}
<h5 class="text-center mt-5">FORMULARIO DE LOGIN</h5>
<form id="formUserLogin" action="" class="p-4 m-4 border border-success rounded d-flex flex-wrap justify-content-around">
    <label for="input_email"class="w-50 mt-2">Email</label>
    <input id="input_email" type="text" placeholder="input_email"class="w-50 mt-2">

    <label for="input_password"class=" mt-2">Contraseña</label>
    <input id="input_password" type="password" placeholder="input_password"class="w-50 mt-2">
    <button type="submit" class="btn btn-success  mt-4">¡ Iniciar sesion! </button>
</form>
 <div>
    <button class="btn btn-outline-success  mt-4" onClick=goToRegister()>¡ Quiero registrarme! </button> 
    <a href="/api/users/session/github">
        <button  class="btn btn-outline-dark  mt-4" >¡ Ingresar con GITHUB! </button>
    </a>   
 </div>
{{/if}}

<div>
    <div  class=" m-5 p-5 border border-dark">
        <h5>Productos</h5>
            <div class=" m-2 p-2 border border-ligth">
                    <a href="http://localhost:8080/api/products/add/form"><h6>Formulario para agregar productos a moongose</h6></a>
                    <a href="http://localhost:8080/api/products/"><h6>Api para ver productos</h6></a>
            </div>
                    
            <div class=" m-2 p-2 border border-ligth">
                <h6>Api para ver producto por ID</h6>
                <label for="idProducto">ID producto:</label>
                <p>Ejemplo de ID producto : 64300d3d4238e8b125d61976</p>
                <input type="text" id="idProducto" name="idProducto" min="1">
                <button onClick=redirigirPagProductoPorID() type="button" class="btn btn-outline-primary">
                VER PRODUCTO
                </button>     
            </div>
            <div class=" m-2 p-2 border border-ligth">
                <h6>Api para ver productos de forma grafica , Elegir paginado</h6>
                <label for="limit">Cantidad de productos por pagina</label>
                <input type="number" id="limit" name="limit" min="1" >
                <label for="page">Numero de pagina</label>
                <input type="number" id="page" name="page" min="1">                
                <button onClick=redirigirPagProductos() type="button" class="btn btn-outline-primary">VER PRODUCTO</button>
            </div>
    </div>

    <div  class=" m-5 p-5 border border-dark">
        <h5>Carritos</h5>
            <div class=" m-2 p-2 border border-ligth">
                <h6>Api para ver todas los carritos de forma grafica , Elegir paginado</h6>
                <label for="limitCart">Cantidad de carritos por pagina</label>
                <input type="number" id="limitCart" name="limitCart" min="1">
                <label for="pageCart">Numero de pagina</label>
                <input type="number" id="pageCart" name="pageCart" min="1">                
                <button onClick=redirigirPagCarritos() type="button" class="btn btn-outline-primary">VER CARRITOS</button>
            </div>
            <div class=" m-2 p-2 border border-ligth">
                <h6>Api para ver un Carrito por ID</h6>
                <label for="idCart">ID carrito:</label>
                <p>Ejemplo de ID carrito : 643be9502744fd9c6fcdd7ec</p>
                <input type="text" id="idCart" name="idCart" min="1">
                <button onClick=redirigirPagCarritosPorID() type="button" class="btn btn-outline-primary">
                VER PRODUCTO
                </button> 
            </div>
    </div>
    <div  class=" m-5 p-5 border border-dark">
        <h5>Chat</h5>
        <div class=" m-2 p-2 border border-ligth">
                <a href="http://localhost:8080/api/views/chat"><h6>Acceso al chat</h6></a>
        </div>
    </div>
<div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
<script src="/js/userLogin.js"> </script>
<script src="/js/formLogOut.js"></script>